<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <header class="header">
        <div class="header_wrapper">
            <img src='./Apple-logo.png' alt="logo" class='logo2'/>
            <div class="nav_wrapper">
            <a href="#" class="nav_link">nav 1</a>
            <a href="#" class="nav_link">nav 2</a>
            <a href="#" class="nav_link">nav 3</a>
            <a href="#" class="nav_link">nav 4</a>
            </div>
        </div>
    </header>
    <div class="product_wrapper">
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
        <div class="product_card">
            <img src="./iphone.png" alt="product" class="img_product">
            <p class="name_product">iphone 15</p>
            <button class="btn">buy</button>
        </div>
    </div>
</body>
</html>